@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
}

p,
li,
button {
  color: white;
}

.container {
  padding: 0 80px;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 auto;
}

.logo {
  margin-right: 160px;
  width: 200px;
}

.navigation {
  display: flex;
  column-gap: 28px;
  list-style: none;
  margin-right: 57px;
}

.cta-button {
  margin-left: 57px;
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 10px 32px;
  border-radius: 40px;
  background: linear-gradient(
    89.75deg,
    #5bdbfd 0.26%,
    #7375ff 51.07%,
    #df93ff 100.96%,
    #e56f8c 126.34%
  );
  border: none;
}

.hero-container {
  display: flex;
  gap: 24px;
  position: relative;
}

.bg-gradient {
  position: absolute;
  right: 0;
}
.hero-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 640px;
  height: 260px;
  background-image: url("./img/hero-img.jpg");
}

.hero-description {
  font-size: 18px;
  font-weight: 400;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 42px 0 18px 0;
  background: linear-gradient(
    90.63deg,
    #90e8ff 0.44%,
    #9c9eff 69.99%,
    #e3a1ff 138.27%,
    #e56f8c 173.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title {
  font-size: 96px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-title {
    text-align: center;
  }
  .hero-subtitle {
    text-align: center;
  }
  .hero-description {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .hero-text {
    width: 50%;
  }
}
