@import url("https://fonts.googleapis.com/css2?family=Anton&family=Delius+Swash+Caps&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr {
  color: rgb(226, 179, 137);
}

body {
  background-color: burlywood;
  font-family: "Delius Swash Caps", sans-serif;
  color: rgb(121, 74, 53);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
  font-size: larger;
}

.block {
  margin-top: 40px;
  color: rgb(231, 215, 189);
  padding: 0 40px;
  background-color: rgb(121, 74, 53);
  border-radius: 32px;
}

.container {
  padding: 40px 0 20px 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(121, 74, 53);
}

a:hover {
  color: rgb(97, 39, 39);
  font-weight: bold;
}

.heading {
  margin-bottom: 24px;
}

.list-home {
  margin: 24px 0;
}

.navigation {
  display: flex;
  column-gap: 80px;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 215, 189);
  padding: 16px 0;
  margin: 16px auto;
  border-radius: 80px;
}

.nav-element {
  display: inline;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.hero-container {
  display: flex;
  gap: 24px;
  position: relative;
  padding: 24px 0;
  align-items: center;
}

.hero-image {
  border-radius: 8px;
  width: 240px;
}

.hero-text {
  max-width: 480px;
}

table,
th,
td {
  border: 2px solid rgb(121, 74, 53);
  border-collapse: collapse;
  padding: 2px 10px;
  border-radius: 16px;
  background-color: rgb(231, 215, 189);
  margin: 8px 0 24px 0;
  color: rgb(121, 74, 53);
}

.table-headings {
  text-align: left;
}

a.white:link,
a.white:visited {
  color: rgb(231, 215, 189);
}

.contacts-main {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

.contact-item {
  padding: 4px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .hero-container {
    flex-direction: column;
    align-items: start;
  }
  .contacts-main {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    font-size: smaller;
    width: 100%;
    padding-left: 0;
  }

  .navigation {
    font-size: larger;
    column-gap: 40px;
  }

  .hero-container {
    flex-direction: column;
    align-items: start;
  }

  .contacts-main {
    flex-direction: column;
  }
}
